/* variables.css */
:root {
    --primary: #3c3e41;
    --dark: #2c2e31;
    --text: #fffffc;
    --secondary: #ffde68;
    --breakbar: #82f9f3;
    --error: #ef5d5d;
}

/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* animations */

@keyframes circleToBarToFull {
    0% {
        clip-path: circle(0% at 0% 0%); /* Start as a small circle in the top-left */
    }
    100% {
        clip-path: circle(120% at 0% 0%); /* Expand the circle to about half the div */

}