<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>

    <main id="app-grid">
        <section id="main-content">
            <h1 class="title">Pomodojo</h1>

            <h3 class="modeHeader"> welcome! </h3>

            <div class="timer">00:25 </div>

            <div class="controls">
                <button type="button" id="start-button">start</button>
                <button type="button" id="skip-button">skip</button>
            </div>
        </section>

        <section id="timeSetting">
            <div class="setStudy" id="minSet">
                min/study
                <div>
                    <input type="number" value="25" maxlength="2" min="0" placeholder="--" id="studyInput"
                        name="studyInput" />
                </div>
            </div>
            <div class="setBreak" id="minSet">
                min/break
                <div>
                    <input type="number" value="5" maxlength="2" min="0" placeholder="--" id="breakInput"
                        name="breakInput" />
                </div>
            </div>
        </section>

        <section id="activeTime">
            active
            <div class="totalTime">
                --
            </div>
        </section>

    <%- include('partials/popup') %>
    <%- include('partials/footer') %>
</body>
</html>
